@import "react-datepicker/dist/react-datepicker.css";

.App {
  text-align: center;
  padding: 0 20px 40px 20px;
}

.InputContainer,
.ExpenseFilter,
.ExpenseList,
.DashboardCharts {
  margin-bottom: 30px;
}
.InputForm {
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
}
.SelectBox,
.InputBox,
.DateBox {
  height: 100%;
  width: 200px;
  @media (max-width: 498px) {
    width: 240px;
  }
  @media (max-width: 300px) {
    width: 100%;
  }
  .MuiFormControl-root {
    width: 100%;
  }
}
.FilterSection,
.ChartSelections,
.InputSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  font-size: 12px;
  gap: 1rem;
}
.FilterSection,
.InputSection {
  @media (max-width: 498px) {
    flex-direction: column;
    height: auto;
  }
  @media (max-width: 300px) {
    width: 100%;
  }
}
.FilterSection,
.ChartSelections {
  margin-bottom: 20px;
}
.ChartSelections {
  justify-content: flex-end;
  height: auto;
  padding: 0 40px;
  .MuiFormControl-root {
    .MuiInputBase-root {
      .MuiSelect-select.MuiInputBase-input {
        padding: 8px 32px 8px 8px;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0px 30px;
  }
  @media (max-width: 600px) {
    padding: 0;
  }
  @media (max-width: 300px) {
    flex-direction: column;
  }
  .SelectBox {
    @media (max-width: 768px) {
      width: 120px;
    }
    @media (max-width: 300px) {
      width: 100%;
    }
  }
}

.ChartsContainer {
  padding: 20px 40px;
  @media (max-width: 768px) {
    padding: 15px 30px;
  }
  @media (max-width: 600px) {
    padding: 0;
  }
}
.ChartContainer {
  // padding: 20px;
  padding-bottom: 30px;
  .Container {
    padding-bottom: 12px;
  }
}
.ChartContainer.SpendingBreakdown {
  padding-bottom: 90px;
}

.LineToggles {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-content: space-around;
  gap: 20px;
  flex-direction: row;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.ExpenseList {
  .MuiList-root {
    padding: 8px 150px;
    @media (max-width: 768px) {
      padding: 8px 50px;
    }
    @media (max-width: 498px) {
      padding: 8px 0;
    }
    .MuiListItem-root {
      // padding: 8px 150px;
      .MuiButtonBase-root.MuiIconButton-root {
        // padding: 8px 100px 8px 8px;
      }
    }
  }
}

.SummaryBreakdown {
  display: flex;
  justify-content: center;
  .MuiList-root {
    width: 50%;
    @media (max-width: 600px) {
      width: 60%;
    }
    @media (max-width: 498px) {
      width: 75%;
    }
    @media (max-width: 300px) {
      width: 100%;
    }
  }
}
